<!-- This is a form partial used for both new and edit forms -->
<%= form_for(thing, remote: true) do |f| %>
  <% if thing.errors.any? %>
    <ul class="collection">
      <% thing.errors.full_messages.each do |message| %>
        <li class="collection-item"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="input-field col s6">
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => 'What is this thing called?', class: "validate", required: true %>
  </div>

  <div class="input-field col s6">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn waves-effect waves-light"  %>
  </div>
<% end %>
